.up-btn {
  background: rgb(0, 55, 255);
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  outline: none;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.up-btn i {
  font-size: 1.2rem;
  color: #fff;
}

.up-btn.active {
  opacity: 1;
  cursor: pointer;
}
